/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--xernerx-grey: #2e3035;
	--xernerx-black: #1b1d21;
	--xernerx-purple: #8879f0;
}

@media (prefers-color-scheme: dark) {
}

header {
	position: fixed;
	width: 100%;
	background-color: var(--xernerx-black);
	color: var(--xernerx-purple);
	height: 6vh;
	padding-top: 5px;
	padding-bottom: 5px;
	color: var(--xernerx-purple);
	z-index: 1;
}

main {
	position: absolute;
	width: 100%;
	top: 7vh;
}

.rainbow {
	width: 100%;
	height: 0.5vh;
	background-repeat: repeat-x;
	background: linear-gradient(to right, #eb5252, #f78f2f, #f4c151, #75d850, #6284ff, #eb5252);
	animation: rainbow 10s linear infinite;
	background-size: 200% 100%;
	position: absolute;
	bottom: 0;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
}

@keyframes rainbow {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 800% 0;
	}
}

.icon-clr {
	filter: invert(100%);
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: larger;
}

h4 {
	font-size: large;
}
h1,
h2,
h3,
h4 {
	font-weight: bold;
}

.grid-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
}

.grid-item {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	padding: 5px;
	margin: 5px;
}

.grid-item:hover {
	background-color: var(--xernerx-black);
}

.space {
	display: flex;
	justify-content: space-between;
}

body {
	position: relative;
	background-color: var(--xernerx-grey);
	color: white;
	margin: 0;
}

.id-card {
	position: absolute;
	margin: 15px;
	right: 0;
	background-color: #2e3035;
	padding: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
}

.icon {
	height: 45px;
}

.banner {
	width: 100%;
}
